* { box-sizing: border-box; } 
body {margin: 0;}
.navbar-brand:link{visibility:visible;background-repeat:no-repeat;background-position:left center;background-attachment:scroll;background-size:contain;background-image:url("../assets/logo5.png");z-index:1745;border-radius:0px 0px 0px 0px;padding:30px 1px 1px 50px;font-family:Arial Black, Gadget, sans-serif;font-size:30px;color:#ff0000;}
.navbar:link{background-color:#000000;background-repeat:repeat;background-position:left top;background-attachment:scroll;background-size:auto;background-image:linear-gradient(to right, #656565 0%, rgba(0, 0, 0, 255) 100%);}
.navbar{color:rgb(221, 221, 221);min-height:100px;width:100%;margin:0px 0px 10px 0px;position:static;border:0px none;border-radius:0px 0px 0px 0px;background-color:rgba(0,0,0,0.6);}
.navbar-container{max-width:950px;margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;width:95%;}
.navbar-items-c{display:inline-block;float:right;}
.navbar-container::after{content:"";clear:both;display:block;}
.navbar-brand{vertical-align:top;display:inline-block;min-height:100px;color:#ff0000;text-decoration:none;text-shadow:0px 0 25px white;padding:5px 5px 5px 5px;margin:0px 0px 0px -40px;z-index:223;border:15px solid rgba(0,0,0,0);}
.navbar-menu{padding-top:10px;padding-right:0px;padding-bottom:10px;padding-left:0px;display:block;float:right;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;min-height:100px;}
.navbar-menu-link{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;color:inherit;text-decoration-line:none;text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial;display:inline-block;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;font-family:Verdana, Geneva, sans-serif;min-height:75px;text-align:center;line-height:0px;border-top:20px solid rgba(0,0,0,0);font-size:30px;}
.navbar-burger{margin-top:10px;margin-right:0px;margin-bottom:10px;margin-left:0px;width:45px;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;display:none;float:right;cursor:pointer;}
.navbar-burger-line{padding-top:1px;padding-right:1px;padding-bottom:1px;padding-left:1px;background-color:white;margin-top:5px;margin-right:0px;margin-bottom:5px;margin-left:0px;}

a:link {
  color: #E8DCC2;
}

/* visited link */
a:visited {
  color: #E8DCC2;
}

/* mouse over link */
a:hover {
  color: #ffae00;
}

/* selected link */
a:active {
  color: #ffae00;
}

.yeartitle {
  display: flex;
  gap: 20px;
  margin: 20px 20px;
}

.yearlink {
  background: #C46A4A;
  color: white;
  padding: 15px;
  flex: 1;
  text-align: center;
  border-radius: 8px;
}

#footerHeight{
    min-height:100px;
  background: rgba(0, 0, 0, 0.6);
}
#footerBox{
    padding:10px;
    text-align:center;
    color:#9d9d9d;
}
#footerLink{
    padding:10px;
    text-align:center;
    color:#ffffff;
}
#footerText{
    text-align:center;
    color:#000000;
} 

/* Global Styles */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(180deg, #E8DCC2, #E8DCC2);
    color: #333;
}

/* Header */
.header {
    text-align: center;
    padding: 50px 20px;
    background: #1e2a38;
    color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.header .subtitle {
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.85;
}

/* Main Container */
.container {
    max-width:1500px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Blog Post Card */
.post {
    background: #ffffffc2;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: 1px solid #3F2F2F;
    overflow: hidden;
}

/* Post Header */
.post-header {
    background: #8B5E3C;
    color: white;
    padding: 20px;
    border-bottom: 3px solid #7A8450;
}

.post-title {
    margin: 0;
    font-size: 1.6rem;
}

.post-date {
    margin: 5px 0 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

/* Post Content */
.post-content {
    padding: 25px;
    color: black;
}

.post-content p {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 1.05rem;
}
